@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fefefe2f;
  }
  
  .container {
    position: relative;
    max-width: 300px;
    width: 100%;
    max-height: 800px;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: pink;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }

  .calculator{
    max-width: 300px;
    max-height: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
    h4 {
        text-align: center;
        color: #333;
        font-family: Poppins;
        font-size: 20px;
    }
    
    label {
        display: block;
    }
    
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box; 
        background-color: #e4bac42f;
        font-family: Poppins;
    }
    
    /* button {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        background-color: #28a745;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #218838; 
    } */
    .ketqua{
        display:flex;
        
    }
    .arrow{
        margin-right: 10%;
        margin-left: 10%;
        font-size: 2rem;
        margin-top: 4% ;
        color: #ff678a;

    }
    #result {
        width: 70%;
        margin-bottom: 20px;
        height: 30px;
        background-color:#ff59802f;
        border-radius: 20px;
        display: block;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        color: #333;
        font-family: Poppins;
       padding: 5px;
        
    }

    .buttons {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
      }
      .buttons button {
        padding: 10px;
        border-radius: 6px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        background-color: #ff184e2f;
      }
      .buttons button:active {
        transform: scale(0.99);
      }
      .operator {
        color: #FF184E;
      }

    